@import 'variables';

// Footer
footer{
		// Newsletter
		.footer-newsletter{
			background-color: $darkBlue;
			padding: 17px 0;
			form{
				i{
				    float: left;
				    font-size: 25px;
				    color: #ffffff;
				    margin: 7px 21px 0px 0px;
				    &:hover{
				    	color: $steelBlue;
				    	transition: .3s;
				    }
				}
				input[type="text"]{
					font-family: $merriweather;
					width: 200px;
				    float: left;
				    background-color: transparent;
				    border: none;
				    font-size: 0.9em;
				    color: $steelBlue;
				    padding: 0px;
				    margin-top: 6px;
				    height: 30px;
				    line-height: 20px;
				    outline: none;
				}
				input[type="submit"]{
					font-family: $merriweather;
				    float: right;
				    background-color: transparent;
				    font-size: 12px;
				    text-transform: uppercase;
				    color: #ffffff;
				    border: 1px solid #ffffff;
				    padding: 8px 26px 11px 26px;
				    -webkit-appearance: button;
    				cursor: pointer;
    				&:hover{
    					color: $steelBlue;
    					border-color: $steelBlue;
    					transition: .3s;
    				}
				}
			}
		}
		// Newsletter
		// Footer COntent
		.footer-content{
			.col-md-3{
				.footer-logo{
					float: left;
				    width: 100%;
				    margin-bottom: 32px;
				    img{
				    	height: auto;
				    	max-width: 75%;
				    }
				}
				ul{
					float: left;
					width: 100%;
					li{
						float: left;
						width: 100%;
						list-style: none;
					    position: relative;
					    line-height: 1.5;
					    color: #424242;
					    font-size: 15px;
					    margin-bottom: 13px;
					    i{
							float: left;
						    font-size: 17px;
						    margin-top: 4px;
					    }
					    p{
					    	margin-left: 25px;
					    	margin-bottom: 0;
					    }
					}
				}
				.footer-social{
					padding: 19px 0px 0px 0px;
				    border-top: 2px solid #eeeeee;
				    text-align: center;
				    margin-top: 25px;
				    a{
				    	display: inline-block;
					    color: $darkBlue;
					    margin: 0px 0px 7px 7px;
					    font-size: 1.2em;
					    &:hover{
					    	color: $darkKhaki;
					    	transition: .3s;
					    }
					    &:first-child{
					    	margin-left: 0;
					    }
					    &:last-child{
					    	margin-right: 0;
					    }
				    }
				}
			}
			.col-md-2{
				h5{
					font-family: $merriweather;
					margin-bottom: 22px;
    				font-weight: 500;
				}
				ul{
					float: left;
					width: 100%;
					li{
						float: left;
						width: 100%;
						margin-bottom: 12px;
    					font-size: 15px;
    					&:before{
    						content: '';
						    background-color: #e5e5e5;
						    width: 19px;
						    height: 2px;
						    float: left;
						    margin: 10px 15px 0px 0px;
    					}
						a{
							font-size: 16px;
							text-transform: none;
							color: #424242
						}
					}
				}
			}
			.col-md-4{
				h5{
					font-family: $merriweather;
					margin-bottom: 22px;
    				font-weight: 500;
    				i{
					    float: left;
					    font-size: 1.2em;
    				}	
				}
				ul{
					float: left;
					width: 100%;
					li{
						float: left;
						width: 100%;
						margin-bottom: 24px;
						p{
							margin-bottom: 5px;
							a{
								text-transform: none;
								color: $darkKhaki;
							}
						}
						time{
							font-style: italic;
						}
					}
				}
			}
			.footer-slider{
				h5{
					font-family: $merriweather;
					margin-bottom: 22px;
    				font-weight: 500;
				}
				ul{
					width: 100%;
					float: left;
					li{
						float: left;
						width: 33.33%;
						padding: 0 10px 10px 0;
						margin-bottom: 0;
						a{
							width: 100%;
						    position: relative;
						    float: left;
						    &:before{
						    	content: "";
							    position: absolute;
							    top: 0px;
							    left: 0px;
							    width: 0%;
							    height: 100%;
							    background-color: $darkKhaki;
							    opacity: .8;
						    }
						    &:after{
						    	content: "";
							    position: absolute;
							    top: 0px;
							    right: 0px;
							    width: 0%;
							    height: 100%;
							    background-color: $darkKhaki;
							    opacity: .8;
						    }
							img{
								cursor: pointer;
							}
						}
					}
				}
			}
			.modal{
				text-align: center;
				&:before{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: $darkBlue;
					opacity: 0.7;
				}
				.modal-img{
					position: absolute;
					width: 30%;
					top: 20%;
					left: 35%;
				}
			}
		}
		// Footer COntent
		// Copyright
		.footer-copyright{
			background-color: $lightgray;
			padding: 35px 0 15px 0;
			span{
				i{

				}
			}
			p{
				float: right;
				a{
					text-transform: none;
					color: $darkBlue;
				}
			}
		}
		// Copyright
}

.footer,.footer>form,.footer-social,.footer-copyright{
	float: left;
	width: 100%;
}

.footer-content{
	padding-top: 90px;
	padding-bottom: 90px;
	float: left;
	width: 100%;
}
// Footer

// Home TopHeader
.header{
		background-color: $darkBlue;
		.container{
			.row{
				padding: 13px 0px;
				.col-md-2.language{
					ul{
						li{
							padding: 0px 18px;
							line-height: 28px;
							position: relative;
							&:first-child{
								padding: 0 18px 0 0;
							}
							&:last-child{
								&:before{
									content: '';
								    position: absolute;
								    left: 0px;
								    top: 0px;
								    border-right: 1px solid $darkslateblue;
								    width: 1px;
								    height: 22px;
								}
							}
							a{
								font-size: 0.80em;
								color: $steelBlue;
								font-family: $ubuntu;
								transition: 0.5s ease;
								&:hover{
									color: $white;
								}
							}
						}
					}
				}
				.col-md-7.info{
					div{
						display: inline;
						padding: 0 15px;
						&:nth-child(2){
							padding: 0 15px;
							position: relative;
							&:before{
								content: '';
								position: absolute;
								left: 0px;
								top: 0px;
								border-right: 1px solid $darkslateblue;
								width: 1px;
								height: 22px;
							} 
						}
						&:last-child{
							position: relative;
							&:before{
								content: '';
								position: absolute;
								left: 0px;
								top: 0px;
								border-right: 1px solid $darkslateblue;
								width: 1px;
								height: 22px;
							} 
						}
						span{
							font-size: 0.80em;
							color: $white;
							&:first-child{
								color: $steelBlue;
								margin: 9px 5px 0px 0px;
								font-size: 0.9em;
							}
						}
					}
				}
				.col-md-3.user{
					ul{
						float: right;
						li{
							line-height: 28px;
							padding-left: 23px;
							a{
								font-family: $ubuntu;
								font-size: 0.80em;
								color: $white;
								i{
									font-size: 1.3em;
									color: $steelBlue;
									position: relative;
								}
							}
							a.searchIcon{
								padding-left: 23px;
								position: relative;
								&:before{
									content: '';
									position: absolute;
									left: 0px;
									top: -3px;
									border-right: 1px solid $darkslateblue;
									width: 1px;
									height: 20px;
								} 
							}
						}
					}
				}
			}
			.modal{
				.modal-dialog{
					width: 450px;
					margin: 0;
					top: 55px;
					right: 70px;
					.login{
						width: 100%;
						top: 0;
						right: 0;
						padding: 37px 35px 21px 35px;
			    		display: inline-block;
			    		text-transform: uppercase;
			    		border-style: none;
			    		border-radius: 0;
			    		font-family: $ubuntu;
						h3{
							font-size: 1.25em;
							font-weight: bold;
							color: $darkBlue;
							margin-bottom: 30px;
						}
						form{
							width: 100%;
							float: left;
							margin-bottom: 22px;
							.signin{
								float: left;
								width: 100%;
								li{
									width: 100%;
   									float: left;
   									margin-bottom: 10px;
									input{
										width: 100%;
									    height: 43px;
									    padding: 6px 21px;
	    								border: 1px solid darkKhaki;
	    								color: #a9a9a9;
	    								font-style: italic;
	    								outline: none;
	    								font-weight: bold;
									}
									a{
										float: right;
									    font-size: 0.95em;
									    color: $darkBlue;
									    text-decoration: underline;
									    text-transform: capitalize;
									}
									button{
										float: left;
									    padding: 14px 35px 14px 35px;
									    color: #ffffff;
									    font-size: 12px;
									    text-transform: uppercase;
									    background-color: $darkKhaki;
									    border: none;
									    line-height: 1;
									    cursor: pointer;
									    border-radius: 0;
									}
								}
							}
						}
						.social{
							width: 100%;
							float: left;
    						margin-bottom: 15px;
							li{
								width: 33.33%;
								float: left;
							    padding: 0px 10px;
								button{
									float: left;
									width: 100%;
									padding: 12px;
									color: #ffffff;
									font-size: 0.7em;
									font-weight: bold;
									text-transform: uppercase;
									background-color: $darkKhaki;
									border: none;
									cursor: pointer;
									border-radius: 0;
									i{
										font-size: 1.5em;
									}
								}
								&:nth-child(1){
									button{
										background-color: #46629c;
									}
								}
								&:nth-child(2){
									button{
										background-color: #00aced;
									}
								}
								&:nth-child(3){
									button{
										background-color: #ea634e;
									}
								}
							}
						}
						p{
							text-align: center;
							color: #424242;
							text-transform: none;
							a{
								font-weight: bold;
								color: #424242;
								text-transform: capitalize;
								margin-left: 5px;
							}
						}
					}
					.search{
						width: 100%;
						top: 0;
						right: 0;
						padding: 37px 35px 21px 35px;
			    		display: inline-block;
			    		text-transform: uppercase;
			    		border-style: none;
			    		border-radius: 0;
			    		font-family: $ubuntu;
			    		h3{
							font-size: 1.25em;
							font-weight: bold;
							color: $darkBlue;
							margin-bottom: 30px;
						}
						ul{
							width: 100%;
   							float: left;
							li{
								width: 100%;
   								float: left;
   								margin-bottom: 20px;
								input{
									width: 100%;
									height: 43px;
									padding: 6px 21px;
	    							border: 1px solid darkKhaki;
	    							color: #a9a9a9;
	    							font-style: italic;
	    							outline: none;
	    							font-weight: bold;
								}
								button{
									float: left;
									padding: 14px 35px 14px 35px;
									color: #ffffff;
									font-size: 12px;
									text-transform: uppercase;
									background-color: $darkKhaki;
									border: none;
									line-height: 1;
									cursor: pointer;
									border-radius: 0;
								}
							}
						}
					}
				}
			}
		}
}
// Home TopHeader
// Home Navbar
.navBar{
		.container{
			.row{
				padding: 32px 0;
				.col-md-3.logo{
					a{
						float: left;
					}
				}
				.col-md-9.menu{
					.menuList{
						float: right;
						li{
							padding: 55px 25px;
							line-height: 62px;
							a{
								font-weight: bold;
								color: $darkBlue;
							}
							.menuDropdown{
								position: absolute;
								top: 94px;
								display: none;
								background-color: $white;
								li{
									padding: 0 35px;
									display: block;
									line-height: 40px;
									border-bottom: 1px solid #f8f8f8;
									a{
										font-weight: 300;
										padding: 0px;
										color: #6c8391;
										text-align: center;
										text-transform: capitalize;
									}
								}
							}
							.courseDropdown{
								left:160px;
							}
							.eventDropdown{
								left: 281px;
							}
							.dashboardDropdown{
								left: 385px;
							}
							.pagesDropdown{
								left: 533px;
							}
							.shopDropdown{
								left: 633px;
							}
						}
						.contact{
							padding-left: 25px;
							padding-right: 0;
							word-spacing: 5px;
						}
					}
				}
			}
		}
}
// Home Navbar

.header,.navBar{
	float: left;
	width: 100%;
	position: relative;
}

// Mini Header
.mini-header{
		position: relative;
		text-align: center;
		padding: 70px 0;
		background-image: url(../img/mini-header.jpg);
		background-repeat: no-repeat;
		.blue-transparent{
			background-color: $darkBlue;
			opacity: 0.6;
			height: 100%;
		    width: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		}// remember
		.mini-title{
			float: left;
			width: 100%;
			font-family: $merriweather;
			h1{
				float: left;
				width: 100%;
				font-size: 2em;
			    color: $white;
			    line-height: 1.2;
			    margin-bottom: 2px;
			}
		}
		.mini-breadcrumb{
			float: left;
			width: 100%;
			font-family: $merriweather;
			ul{
				display: inline-block;
				li{
					display: inline-block;
    				color: $white;
    				font-size: 0.9em;
					a{
					    color: $breadcrumb;
					    font-size: 0.95em;
					    text-transform: none;
					}
				}
				li:nth-child(2):before,li:nth-child(3):before{
					font-family: FontAwesome;
					content: "\f105";
					font-size: 12px;
    				padding: 10px;
				}
			}
		}
}
// Mini Header

// Pagination
.course-pagination{
	float: left;
	width: 100%;
				background-color: $lightgray;
				padding: 15px;
				text-align: center;
				margin: 30px 0;
				ul{
					width: 100%;
					float: left;
					padding: 15px 0;
					li{
						padding: 0 4px;
						&:first-child{
							float: left;
							a{
								padding: 14px 20px 14px 18px;
							}
						}
						&:last-child{
							float: right;
							a{
								padding: 14px 18px 14px 20px;
								i{
								    margin-left: 8px;
    								margin-right: 0;
								}
							}
						}
						a{
						    background-color: $white;
						    text-transform: capitalize;
						    position: relative;
						    border-bottom: 2px solid #eaeaea;
						    font-style: italic;
						    color: #a9a9a9;
						    padding: 14px 20px;
						    &:hover{
						    	&:before{
						    		width: 100%;
						    		background-color: $darkBlue;
						    		transition: 0.4s ease-in-out;
						    	}
						    }
						    &:before{
							    content: '';
								bottom: -2px;
							    position: absolute;
							    left: 0px;
							    height: 2px;
							    width: 0%;
							}
						}
						a.active-pag{
							&:before{
						    	content: '';
						    	width: 100%;
						    	background-color: $darkBlue;
								bottom: -2px;
							    position: absolute;
							    left: 0px;
							    height: 2px;
						    }
						}
					}
				}
			}
// Pagination

.wcu-questions>a,.ole-event-text>a,.slides>a,.bn-text>a,.submit,.ole-slides>a,.rightSide-slide>a{
	padding: 10px 20px;
	border: 1px solid $darkKhaki;
	cursor: pointer;
	text-transform: uppercase;
	margin-top: 17px;
	font-weight: 500;
	font-size: 0.8em;
	background-color: $white;
	color: $darkKhaki;
	&:hover{
		background-color: $darkKhaki;
		color: $white;
		transition: 0.5s ease-in;
	}
}



