$ubuntu: 'Ubuntu', sans-serif;
$roboto: 'Roboto', sans-serif;
$merriweather: 'Merriweather Sans', sans-serif;
$size: 15px;
$weight: normal;
$darkBlue: #222845;
$darkKhaki: #b99663;
$white: #ffffff;
$steelBlue: #8a8fa7;
$darkslateblue: #474d6b;
$lightgray: #f7f7f7;
$gray: #dadada;
$breadcrumb: #adb5db;
